@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {
    @apply text-primary-1 border border-primary-1 rounded-lg bg-white
  }

}

#navbar a.active {
  color: #23BE0A;
  border: 1px solid #23BE0A;
  border-radius: 0.3rem;
  background-color: transparent;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.btn-active {
  position: relative;
  top: 1px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  z-index: 9;
  border: 1px solid lightgray;
  border-bottom: 1px solid white;
}